<h1>Edit Account: <%= @user.username %></h1>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :username, :placeholder=>"Set New Username"%><br />
  <%= f.password_field :password, :placeholder=>"Set a New Password" %>><br />
  <%= if @user.human %>
    <p>Confirm you're human for the form go through and save your account.</p>
    <%= @publisher_html.html_safe %>
  <% end %>
  <div class="actions"><%= f.submit "Sign Up" %></div>
<% end %>