<h1>New Account</h1>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :username, :placeholder=>"Username"%><br /><br />
  <%= f.password_field :password, :placeholder=>"Password" %><br /><br />
  <%= @publisher_html.html_safe %>
  <div class="actions"><%= f.submit "Sign Up" %></div>
<% end %>