<%= render '/layouts/sidebar' %>
<div class="span5" id="bookmark_list_view">
  <h3>Bookmarks that aren't in a playlist</h3>
  <% if current_user %>
  <%= link_to 'Add Bookmark <i class="icon-plus icon-white"></i>'.html_safe, '#', class:"btn btn-primary new-bookmark-modal-link" %>
    <div id="new-bookmark-modal-holder">
        <%= render '/user_bookmarks/modal_new' %>
    </div>
  <% end %>
  <br />
  <%= search_field_tag 'filter_uncategorized', '', :placeholder=>"Filter Bookmarks" %>
  <% @playlist.user_bookmarks.each_with_index do |user_bookmark,i| %>
    <% if i == 0 %>
      <hr class="hrspacer"> 
    <% else %>
      <hr>
    <% end %>
    <% if user_bookmark.id %>
      <%= render :partial =>'/user_bookmarks/bookmark_fields.html.erb', :locals => {:user_bookmark => user_bookmark} %>
    <% end %>
  <% end %>
</div>
<div class="span4">
  <div id="detail_bookmark_view_container">
    <div id="detail_bookmark_view">
    </div>
  </div>
</div>