<%= render '/layouts/sidebar' %>
<div class="span5" id="bookmark_list_view">
  <div id='linkDrop'><!-- drag and drop    -->
    <h1>Bookmark</h1>
    <%= form_for :bookmark_url, :url => bookmark_urls_path, :method => :post do |f| %>
      <%= f.hidden_field :url %>
      <%= f.hidden_field 'playlist_id', :value => @playlist.id %>
    <% end %>
  </div><!-- drag and drop end -->
  <h2>Bookmarks </h2>
  <%= label_tag 'filter_uncategorized', 'Filter Bookmarks'%>
  <%= search_field_tag 'filter_uncategorized' %>
  <% @playlist.user_bookmarks.each_with_index do |user_bookmark,i| %>
    <% if i == 0 %>
      <hr class="hrspacer"> 
    <% else %>
      <hr>
    <% end %>
      <%= render :partial =>'/user_bookmarks/bookmark_fields.html.erb', :locals => {:user_bookmark => user_bookmark} %>
  <% end %>
</div>
<div class="span4">
  <div id="detail_bookmark_view_container">
    <div id="detail_bookmark_view">
    </div>
  </div>
</div>