<% if !(defined? class_name) %>
	<div class ="show_bookmark"><%= ((f.object.bookmark_name.nil?) ? "": f.object.bookmark_name )+" "+((f.object.url.nil?) ? "": f.object.url )%></div>
<% end %>
<%= tag( "div", {:class => ((defined? class_name) ? class_name : "edit_bookmark")}, true)%>
 <fieldset>
	<%= f.label :bookmark_name %>
	<!-- the ID for this gets fudged into the data-params attribute on load   -->
	<%= f.text_field :bookmark_name, {'data-method' => 'PUT', 'data-url' => '/playlists/'+@playlist.id.to_s, 'data-remote' => true}  %>
	<%= f.label :url %>
	<%= f.text_field :url, {'data-method' => 'PUT', 'data-url' => '/playlists/'+@playlist.id.to_s, 'data-remote' => true} %>
	<%= link_to "Remove Bookmark", '/playlists/'+@playlist.id.to_s+'/destroy_bookmark/'+f.object.id.to_s, :confirm => "Are you sure you want to delete this bookmark?", class: "remove_bookmark", :remote => true%>
 </fieldset>
</div>